h1 {
    font-family: Cambria;
    font-weight: normal;
}

nav {
    font-variant-caps: all-small-caps; 
    font-size: 20px
    
}

nav ul li {
    display: inline;
    padding-right: 20px;
    font-weight: bolder;
}

nav ul li a {
  text-decoration: none;
  color: black;      
  font-variant-caps: all-small-caps;
}


nav ul li a:hover {
    color: blue;
    text-decoration: underline;
}

header {
    width: 20%;
    height: 100px;
    float: left;
}

nav {
    width: 80%;
    height: 100px;
    float: left;
    
}

div#primera{float: left; width: 30%; margin-right: 20px; margin-left: 30px; margin-top: 60px;}
div#segona{float: left; width: 30%;margin-right: 20px;margin-top: 60px;}
div#tercera{float: left; width: 30%;margin-right: 20px;margin-top: 60px;}

.centrat{margin:0 auto; width:95%}

.centrat div p{ 
    font-size: 20px;
    text-align: center;
    font-variant-caps: all-small-caps;
    font-weight: bolder;
}

footer {
    align-items: center;
    vertical-align: middle;
}

footer {
  text-align: center;
  font-size: 12px;
}

.footer-logo {
  margin-bottom: 20px;
  padding-right: 33% ;
}

.format {
  text-decoration: underline;
  color: inherit;
  margin: 0 5px;
}



